@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 0.55em;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .inner-scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    /*background-color: darkgrey;*/
    outline: 1px solid;
    @apply bg-white border-2 outline-slate-200 -ml-3
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .pagination{
    @apply border py-3 px-5 cursor-pointer hover:text-primary hover:border-primary hover:bg-primary/[0.1] transition ease-in-out
  }

  .badge{
    @apply border rounded px-2 py-1
  }

  .badge.green{
    @apply text-accent-2 font-medium border-accent-2 bg-accent-2/[0.2]
  }

  .badge.red{
    @apply text-accent-3 font-medium border-accent-3 bg-accent-3/[0.2]
  }

  .badge.gray{
    @apply text-accent-4 font-medium border-accent-4 bg-accent-4/[0.2]
  }

  .tab{
    @apply border-b px-8 flex items-center text-slate-500 font-medium transition ease-in-out
  }

  .tab.active{
    @apply border-primary text-primary bg-primary/[0.1]
  }
}
